/* PC Large */
@media screen and (max-width:1400px) {
}

/* Laptops */
@media screen and (max-width:1025px) {
}
/*Tablets*/
@media screen and (max-width: 769px){
    .title-text h1{
        font-size: 35px;
    }

    .single-service{
        flex-basis: 100%;
        margin-bottom: 30px;
    }
    .service-desc p{
        font-size: 12px; 
    }
    hr{
        margin: 5px auto;
    }
    .single-service:hover .service-desc{
        bottom: 25% !important;
    }


    .footer-left,.footer-right{
        flex-basis: 100%;
        font-size: 14px;
    }
    .footer-img{
        top: 25%;
    }
}

/*Mobile*/
@media screen and (max-width:580px) {
}